services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    ports:
      - "3000:3000"
    volumes:
      - ../backend/server/videos:/app/server/videos
      - ../backend/server/results:/app/server/results

  frontend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.frontend
    ports:
      - "3001:3001"
    depends_on:
      - backend
